@charset "utf-8";
/*
再利用可能な全てのオブジェクトを記述します。
All objects that are reusable will be written.

接頭辞はComponentの頭文字を取って【c_】とします。
Prefix will take the "Component" first letter and use it as "c_".

ここで指定するのは以下の様なものと予想されます。
You might use the following.
.c_btn/.c_breadclumb/.c_hero/.c_serch/.c_dropdown/
.c_card/.c_feature/.c_overlay/.c_form/.c_thumbnail/.c_box

モディファイヤを使用する場合は接頭辞【is_】をつけ、各コンポーネントの下に記述します。
When using modifier put the prefix "is_" and write it under each component.

フォントサイズはremで指定します。
"rem" will be used for font-size.

//sample
.c_btn {
	display: inline-block;
	padding: 15px 20px;
	border-radius: 5px;
	text-decoration: none;
}
.c_btn:hover { opacity: 0.8; }
.c_btn.is_btn_disable { cursor: inherit; }
.c_btn.is_btn_blue{
	color: rgb(255, 255, 255);
	background: rgb(1, 153, 224) none repeat scroll 0% 0%;
}

*/
/*----------------------------------------------
	.class name
---------------------------------------------*/
.c_video{
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.c_modal_content div video{
	margin-top: 10px;
}
.open-default1{
	cursor: pointer;
}
/*----------------------------------------------
	.c_nav_type01
---------------------------------------------*/

.c_nav_type01 {
  list-style: none;
	border-top: 1px solid #392f2c;
	border-bottom: 1px solid #392f2c;
}

.c_nav_type01 li:not(:last-of-type) a,
.c_nav_type01 li:not(:last-of-type) span{
  border-bottom: 1px solid #392f2c;
}
.c_nav_type01 li a,
.c_nav_type01 li span{
  display: block;
  padding: 17px 15px 15px;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  text-align: left;
  position: relative;
  line-height: 1.3;
  /*background: url(../images/nav_arrow.png) 91% 50% no-repeat;*/
}
.c_nav_type01 li a::after,
.c_nav_type01 li span::after {
  content: " ";
  display: inline-block;
  width: 9px;
  height: 11px;
	background: url('../images/nav_arrow.png') no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
}

.c_nav_type01 li:hover a,
.c_nav_type01 li.active a {
	font-weight: bold;
  /*background: url(../images/nav_active_arrow.png) 91% 50% no-repeat, url(../images/nav_active.png);*/
  color: #FFFFFF;
  background: #dc242f;
}



.c_nav_type01 li:hover a::after,
.c_nav_type01 li.active a::after {
	width: 14px;
	height: 52px;
	background: url('../images/nav_active_arrow.png') no-repeat;
	right: -13px;
}

.c_nav_type01 li.is_external a::after,
.c_nav_type01 li.is_pdf a::after,
.c_nav_type01 li.is_word a::after,
.c_nav_type01 li.is_ppt a::after,
.c_nav_type01 li.is_excel a::after {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
}
.c_nav_type01 li.is_external a::after {
  background: url(../images/icon_external_nav.png) no-repeat;
}
.c_nav_type01 li.is_external a:hover::after {
  background: url(../images/icon_external_nav_o.png) no-repeat;
}
.c_nav_type01 li.is_pdf a::after {
  background: url(../images/icon_pdf.png) no-repeat;
}
.c_nav_type01 li.is_word a::after {
  background: url(../images/icon_word.png) no-repeat;
}
.c_nav_type01 li.is_ppt a::after {
  background: url(../images/icon_powerpoint.png) no-repeat;
}
.c_nav_type01 li.is_excel a::after {
  background: url(../images/icon_excel.png) no-repeat;
}

/*----------------------------------------------
  .c_contact_type02
---------------------------------------------*/
.c_contact_type02{
}

.c_contact_type02 .c_contact_header {
  font-size: 1.6rem;
  font-weight: bold;
}

.c_contact_type02 .c_contact_details {
  line-height: 1.5;
}

.c_contact_type02 a {
	color: #FFFFFF;
}
.c_contact_type02 a:hover {
	color: #e98902;
}

/*----------------------------------------------
  .c_news_type01
---------------------------------------------*/
.c_news_type01 {
  max-height: 365px;
  overflow-y: auto;
  position: relative;
  font-size: 1.5rem;
  color: #000;
}

.c_news_type01 dt,
.c_news_type01 dd {
  padding-top: 19px;
	line-height: 1.6;
}

.c_news_type01 dt {
  float: left;
  clear: left;
  padding-left: 20px;
  font-size: 1.5rem;
  padding-top: 19px;
  font-weight: bold;
	position: relative;
}
.c_news_type01 dt::after {
	content: '';
	display: inline-block;
	width: 11px;
	height: 9px;
	background: url('../images/icon_arrow.png') no-repeat;
	position: absolute;
	top: 18px;
	right: -20px;
	bottom: 0;
	margin: auto 0;
}

.c_news_type01 dd {
  padding-left: 155px;
  word-wrap: break-word;
  padding-right: 20px;
  padding-bottom: 19px;
}
.c_news_type01 dt:not(:first-of-type) {
  margin-top: 2px;
}
.c_news_type01 dd:not(:first-of-type) {
  border-top: 1px solid #dbdbdb;
}

/*----------------------------------------------
  	.c_ttl_type01
  ---------------------------------------------*/
.c_ttl_type01 {
  font-size: 3.5rem;
  font-weight: bold;
	text-align: center;
	color: #FFFFFF;
  background: #dc242f;
  padding: 19px 20px 17px;
	border-top: 1px solid #231815;
	border-bottom: 1px solid #231815;
}

/*----------------------------------------------
    .c_ttl_type02
---------------------------------------------*/
.c_ttl_type02 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #FFFFFF;
  background: #423632;
	position: relative;
	padding: 16px 42px 15px 2rem;
}
	
.c_ttl_type02::before {
	content: '';
	display: block;
	width: 98.5%;
	height: inherit;
	border: 1px solid #947c75;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 4px auto 4px auto;
}
.c_ttl_type02::after {
	content: '';
	display: inline-block;
	width: 44px;
	height: 43px;
	background: url('../images/h2_icon.png') no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 2px;
	margin: auto 0;
}


.c_ttl_type02_02 a{
  font-size: 2.0rem;
  font-weight: bold;
  color: #522B08;
}

.c_ttl_type02_02 a:hover{
  opacity: 0.6;
}

.is_jet{
	font-weight: bold;
}

/*----------------------------------------------
    .c_ttl_type03
---------------------------------------------*/
.c_ttl_type03 {
  font-size: 2rem;
  font-weight: normal;
  color: #2f2725;
	background: #fbe7cc;
  padding: 10px 15px 9px;
  position: relative;
  border-left: 5px solid #e98902;
}

/*----------------------------------------------
    .c_ttl_type04
---------------------------------------------*/
.c_ttl_type04 {
  font-size: 1.8rem;
  font-weight: bold;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 4px;
  position: relative;
}

.c_ttl_type04:before {
  content: '';
	display: inline-block;
	width: 6%;
  height: 1px;
	background: #dc242f;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*----------------------------------------------
    .c_ttl_type05
---------------------------------------------*/
.c_ttl_type05 {
  font-size: 1.6rem;
  font-weight: normal;
  color: #e98902;
	padding-left: 15px;
  position: relative;
}

.c_ttl_type05::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 10px;
	background: url('../images/h5_icon.png') no-repeat;
	position: absolute;
	top: -2px;
	bottom: 0;
	left: 0;
	margin: auto 0;
}

/*----------------------------------------------
  .c_ttl_label
---------------------------------------------*/
.c_ttl_label {
  display: inline-block;
  transform: translateY(-3px);
  margin-left: 10px;
  padding: .2em .5em;
  font-size: 1.2rem;
  color: #fff;
}
.is_bg_gn {
  background-color: #097B2F;
}

/*----------------------------------------------
  Gradient Sample
---------------------------------------------*/
/*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(16,41,75,1)), color-stop(100%, rgba(10,59,150,1)));
background: -webkit-linear-gradient(left, rgba(16,41,75,1) 0%, rgba(10,59,150,1) 100%);
background: -o-linear-gradient(left, rgba(16,41,75,1) 0%, rgba(10,59,150,1) 100%);
background: -ms-linear-gradient(left, rgba(16,41,75,1) 0%, rgba(10,59,150,1) 100%);
background: linear-gradient(to right, rgba(16,41,75,1) 0%, rgba(10,59,150,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10294b', endColorstr='#0a3b96', GradientType=1 );*/

/*----------------------------------------------
  	.c_para_type01
---------------------------------------------*/
.c_para_type01 {
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
}

/*----------------------------------------------
  	.c_para_type02
---------------------------------------------*/
.c_para_type02 {
  text-indent: 1em;
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
}

/*----------------------------------------------
  	.c_kome_type01
---------------------------------------------*/
.c_kome_type01 {
  text-indent: -1em;
  padding-left: 1em;
}

/*----------------------------------------------
	.c_table_type01
---------------------------------------------*/
.c_table_type01 {
  width: 100%;
}

.c_table_type01 thead th {
	font-weight: normal;
	color: #FFFFFF;
	text-align: center;
	background: #B34754;
	padding: 11px 20px;
}

.c_table_type01 th {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  white-space: nowrap;
  color: #333333;
  background: #fadee0;
}

.c_table_type01 th,
.c_table_type01 td {
	border: 1px solid #c0bfbf;
  padding: 10px 15px;
	line-height: 1.3;
}

.c_table_type01 td {
	font-size: 1.5rem;
}
.c_table_type01 th.is_center,
.c_table_type01 td.is_center{
	text-align: center;
}
/*Firefox*/
@-moz-document url-prefix() {
  .c_table_type01 td {
		font-size: 1.3rem;
	}
}

/*IE 11*/
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
	.c_table_type01 td {
		font-size: 1.3rem;
	}
}

/*MS Edge*/
@supports (-ms-ime-align:auto) {
	.c_table_type01 td {
		font-size: 1.3rem;
	}
}

#unit .c_table_type01 td{
	font-size: 1.2rem !important;
  vertical-align: top;
}

/*----------------------------------------------
	.c_table_type02
---------------------------------------------*/
.c_table_type02 {
  width: 100%;
}

.c_table_type02 tr:nth-child(odd) {
  background: #fbe7cc;
}

.c_table_type02 th {
  text-align: center;
  vertical-align: top;
  font-weight: bold;
  white-space: nowrap;
  color: #e98902;
}

.c_table_type02 th,
.c_table_type02 td {
  padding: 11px 5px 10px;
	line-height: 1.3;
}

/*----------------------------------------------
	.c_table_type03
---------------------------------------------*/

.c_table_type03 {
  width: 100%;
}

.c_table_type03 thead th {
  color: #333;
  white-space: nowrap;
  font-weight: bold;
  border-bottom: 2px solid #333;
  text-align: center;
}
.c_table_type03 tbody th {
  color: #fff;
  background: #666;
  white-space: nowrap;
}

.c_table_type03 tbody td {
  vertical-align: top;
}

.c_table_type03 th,
.c_table_type03 td {
  font-weight: normal;
  padding: 10px;
}

/*----------------------------------------------
	.c_table_type04
---------------------------------------------*/
.c_table_type04 tr > * {
  vertical-align: top;
  border: 1px solid #333;
}

/*----------------------------------------------
	.c_table_type05
---------------------------------------------*/
.c_table_type05 tr > * {
  vertical-align: top;
}
.c_table_role {
  width:3em;
}
.c_table_role02 {
  width:5em;
}
.c_table_role03 {
  width:12em;
}
.c_table_role04 {
  width:6em;
}
.c_table_name {
  width: 6em;
}
.c_table_name02{
	width: 7.5em;
}
.c_table_title {
  text-indent: -1.5rem;
  padding-left: 1.5rem;
}

/* FOR COLORED LIST TYPE */
/*----------------------------------------------
	.c_list_type01
---------------------------------------------*/
.c_list_type01 {
  vertical-align: top;
}

.c_list_type01 li {
	margin-bottom: 10px;
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
  list-style: none;
  position: relative;
  left: 0;
}

.c_list_type01 li:last-child{
	margin-bottom:0px;
}

.c_list_type01 li:before {
  color: #dc242f;
  position: relative;
  display: inline-block;
  width: 15px;
  vertical-align: middle;
  top: -1px;
  text-indent: 0;
}

.c_list_type01.is_square li:before {
  content: "■";
}

.c_list_type01.is_disc li:before {
  content: "●";
	font-size: 10px;
}

.c_list_type01.is_triangle li:before {
  content: "▶";
}

.c_list_type01.is_diamond li:before {
  content: "◆";
}

.c_list_type01.is_decimal {
  counter-reset: is_decimal_counter;
}

.c_list_type01.is_decimal li:before {
  counter-increment: is_decimal_counter;
  content: counter(is_decimal_counter) ".";
  display: inline-block;
  color: #e98902;
	position: relative;
	margin-right: 3px;
}

.c_list_type01.is_triangle li,
.c_list_type01.is_diamond li,
.c_list_type01.is_square li,
.c_list_type01.is_disc li,
.c_list_type01.is_triangle li,
.c_list_type01.is_diamond li {
  text-indent: -15px;
  padding-left: 15px;
}
#accommodation .c_list_type01.is_disc li {
  text-indent: 0;
  padding-left: 0;
}
.c_list_type01.is_decimal li {
  text-indent: -20px;
  padding-left: 20px;
}
.c_list_type01.is_col2 {
  column-count: 2;
}

/* FOR SIMPLE LIST TYPE */
/*----------------------------------------------
	.c_list_type02
---------------------------------------------*/
.c_list_type02 {
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
  padding-left: 20px;
}

.c_list_type02 li {
  margin-bottom: 5px;
}

.c_list_type02.is_disc li {
  list-style: disc;
}

.c_list_type02.is_decimal li{
  list-style: decimal;
}

/*----------------------------------------------
	.c_btn_group
---------------------------------------------*/
.c_btn_group {
  display: flex;
  justify-content: space-around;
}

/*----------------------------------------------
	.c_btn_type01
---------------------------------------------*/
.c_btn_type01 {
  display: inline-block;
  padding: 15px 10px;
  min-width: 200px;
  background: #B34754;
  text-decoration: none!important;
  color: #fff!important;
	border-bottom: 4px solid #803035;
	vertical-align: bottom;
	position: relative;
}
.c_btn_type01::after {
  content: "";
  display: inline-block;
	width: 6px;
	height: 9px;
	background: url('../images/btn_arrow.png') no-repeat;
	position: absolute;
	top: 0;
	right: 10px;
  bottom: 0;
  margin: auto 0;
}

a.c_btn_type01:hover {
  opacity: 0.8;
	border-bottom: 0;
	margin-top: 4px;
}
.c_btn_type01.is_w250 { width: 250px; }
.c_btn_type01.is_w320 { width: 320px; }
.c_btn_type01.is_w400 { width: 400px; }
.c_btn_type01.is_w600 { width: 600px; }

.c_btn_type01.is_word::after,
.c_btn_type01.is_excel::after,
.c_btn_type01.is_ppt::after,
.c_btn_type01.is_pdf::after {
  content: "";
  display: inline-block;
	position: absolute;
	top: 0;
	right: 10px;
  bottom: 0;
  margin: auto 0;
}
.c_btn_type01.is_word::after {
  background: url(../images/icon_btn_word.png) no-repeat;
}
.c_btn_type01.is_excel::after {
  background: url(../images/icon_btn_excel.png) no-repeat;
}
.c_btn_type01.is_ppt::after {
  background: url(../images/icon_btn_powerpoint.png) no-repeat;
}
.c_btn_type01.is_pdf::after {
  background: url(../images/icon_btn_pdf.png) no-repeat;
	width: 14px;
  height: 17px;
}

.c_btn_type01.is_disabled {
	color: #7c7c7c!important;
	background: #dadada;
	border-bottom: 0;
}
.c_btn_type01.is_disabled::after {
	background: url('../images/btn_arrow02.png') no-repeat;
}

/*----------------------------------------------
	.c_btn_type02
---------------------------------------------*/
.c_btn_type02 {
  display: inline-block;
  padding: 10px 10px;
  min-width: 220px;
  background: #333;
  border-radius: 5px;
  text-decoration: none!important;
  color: #fff!important;
}
a.c_btn_type02:hover {
  opacity: 0.8;
}
.c_btn_type02.is_word::after,
.c_btn_type02.is_excel::after,
.c_btn_type02.is_ppt::after,
.c_btn_type02.is_pdf::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0;
  bottom: 0;
  width: 22px;
  height: 22px;
  margin: auto auto auto 10px;
  vertical-align: middle;
}
.c_btn_type02.is_word::after {
  background: url(../images/icon_btn_word.png) no-repeat;
  background-size: 100%;
}
.c_btn_type02.is_excel::after {
  background: url(../images/icon_btn_excel.png) no-repeat;
  background-size: 100%;
}
.c_btn_type02.is_ppt::after {
  background: url(../images/icon_btn_powerpoint.png) no-repeat;
  background-size: 100%;
}
.c_btn_type02.is_pdf::after {
  background: url(../images/icon_btn_pdf.png) no-repeat;
  background-size: 100%;
}
/*----------------------------------------------
	.c_btn_type03
---------------------------------------------*/
.c_btn_type03 {
  display: inline-block;
  padding: 15px 10px;
  min-width: 550px;
  background: #097B2F;
  text-decoration: none!important;
  color: #fff!important;
	border-bottom: 4px solid #054D1D;
	vertical-align: bottom;
	position: relative;
}
a.c_btn_type03:hover {
  opacity: 0.8;
	border-bottom: 0;
	margin-top: 4px;
}

/*----------------------------------------------
	.c_box_type01
---------------------------------------------*/
.c_box_type01 {
  padding: 15px;
	background: #fff9f1;
  border: 1px solid #e98902;
}

.c_box_type01_header {
	margin-bottom:5px;
	font-weight: bold;
	color: #e98902;
}

/*----------------------------------------------
	.c_box_type02
---------------------------------------------*/
.c_box_type02 {
  padding: 15px;
  border: 1px solid #55854a;
	background: #e2efe0;
}

.c_box_type02_header {
	margin-bottom:5px;
	font-weight: bold;
	color: #56864a;
}

/*----------------------------------------------
	.c_box_type03
---------------------------------------------*/
.c_box_type03 {
  padding: 15px;
	border: 1px solid #d73330;
}

/*----------------------------------------------
	.c_box_type04
---------------------------------------------*/
.c_box_type04 {
    padding: 15px;
    border: 1px solid #ff0000;
    background: #fff1f1;
}

/*----------------------------------------------
.c_anchor_icon
---------------------------------------------*/
a.c_anchor_icon{
    display: inline-block;
    padding-right: 25px;
  }
a[href^="http://"].c_anchor_icon,
a[href^="https://"].c_anchor_icon,
.c_anchor_icon.is_external { background: url(../images/icon_external.png) no-repeat right center; }

a[href$=".xls"].c_anchor_icon,
a[href$=".xlsx"].c_anchor_icon,
.c_anchor_icon.is_excel {  background: url(../images/icon_excel.png) no-repeat right center; }

a[href$=".doc"].c_anchor_icon,
a[href$=".docx"].c_anchor_icon,
.c_anchor_icon.is_word { background: url(../images/icon_word.png) no-repeat right center; }

a[href$=".ppt"].c_anchor_icon,
a[href$=".pptx"].c_anchor_icon,
.c_anchor_icon.is_ppt { background: url(../images/icon_powerpoint.png) no-repeat right center; }

a[href$=".pdf"].c_anchor_icon,
.c_anchor_icon.is_pdf { background: url(../images/icon_pdf.png) no-repeat right center; }

a[href$=".pdf"].c_anchor_icon,
.c_anchor_icon.is_pdf_no { background: url(../images/icon_external.png) no-repeat right center; }

/*----------------------------------------------
.c_bnr
---------------------------------------------*/
.c_bnr { display: inline-block; }

.c_bnr:hover {
	opacity: 0.8;
}
