@charset "utf-8";
/*
サイト上の構成の大枠としてページ内に1度しか出てこないものと、グリッドレイアウトについてを記述します。
We will write about thing the only comes out once on the page as a frame and grid(column) layout.

接頭辞はLayoutの頭文字を取って【l_】とします。
Prefix will take the "Layout" first letter and use it as "l_".

ここで指定するのは以下の様なものと予想されます。
You might use the following.
.l_wrap/.l_container/.l_header/
.l_nav/.l_main/.l_contents/.l_footer

モディファイヤを使用する場合は接頭辞【has_】をつけ、各レイアウトの下に記述します。
When using modifier put the prefix "has_" and write it under each layout.

フォントサイズはremで指定します。
"rem" will be used for font-size.
*/
/*----------------------------------------------
	.l_wrap
---------------------------------------------*/
.l_wrap {
	width: 1000px;
	margin: 0 auto;
}

/*----------------------------------------------
	.l_bg
---------------------------------------------*/
.l_bg {
	background: url(../images/page_bg.png) repeat center, #FFFFFF;
	/*background-attachment: fixed;*/
	position: relative;
}
.inner .l_bg {
	background: url("../images/page_bg_inner.png") repeat center, #FFFFFF;
	/*background-attachment: fixed;*/
}

/*----------------------------------------------
	.l_container
---------------------------------------------*/
.l_container {
	position: relative;
}

/*----------------------------------------------
	.l_header
---------------------------------------------*/
.l_header_area {
	display: table;
  width: 100%;
	background: #fffbe3;
	height: 220px;
}
.l_header {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

.l_header img {
	/*position: absolute;*/
}
.l_header_title {
  /*top: 20px;*/
}

.l_header_logo {
	height: 180px;
  text-align: center;
	position: relative;
	background-color: #FFFFFF;
}
.l_header_logo img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

/*----------------------------------------------
	.l_side_contents
---------------------------------------------*/
.l_side_contents {
	width: 230px;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background-color: #F7D6C6;
	border-right: 1px solid #392f2c;
	border-left: 1px solid #392f2c;
	
}

/*----------------------------------------------
	.l_nav_area
---------------------------------------------*/
.l_nav_area {
}


/*----------------------------------------------
	.l_video
---------------------------------------------*/
.l_video{
  display: block;
	margin-bottom: -7px;
}

.l_video:hover{
	opacity: 0.6;
}

/*ポップアップここから*/
.popup_wrap input {
  display: none;
}

.popup_overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.popup_trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup_content {
  position: relative;
  align-self: center;
  width: 740px;
	height: 415px;
  box-sizing: border-box;
  line-height: 1.4em;
  transition: 0.5s;
}

.close_btn {
  position: absolute;
    top: -35px;
    right: 0px;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}

.popup_wrap input:checked ~ .popup_overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.open_btn:hover{
	cursor:pointer;
}










/*----------------------------------------------
	.l_main_contents
---------------------------------------------*/
.l_main_contents {
	width: 740px;
	float: right;
	position: relative;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background: #FFFFFF;
	border-right: 1px solid #392f2c;
	border-left: 1px solid #392f2c;
}
#top .l_main_contents {
	background: #fffbe3;
  height: 1750px;
}

/*----------------------------------------------
	.l_poster_area
---------------------------------------------*/
.l_poster_area{
	/*height:1413px;*/
  height: 1060px;
	position: relative;
	background: url(../images/poster_bg.png) no-repeat center 34px;
}
/*----------------------------------------------
	.l_poster_ttl
---------------------------------------------*/
.l_poster_theme {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/*----------------------------------------------
	.l_poster_details
---------------------------------------------*/
.l_poster_detail {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/*----------------------------------------------
	.l_poster_date
---------------------------------------------*/
.l_poster_date {
	position: absolute;
	bottom: 150px;
	left: 0;
	right: 0;
	margin: auto;
}


/*----------------------------------------------
	.l_poster_info
---------------------------------------------*/
.l_poster_info {
	position: absolute;
    /*bottom:680px;*/
  bottom: 420px;
    width: 550px;
    left: 0;
    right: 0;
    margin: auto;
}

.l_poster_info .info_header{
  padding: 5px 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight:bold;
  color: #FFFFFF;
  background-color: #F00000;
}

.l_poster_info .info_box{
  padding: 15px;
   background-color:#FFFFFF;
  border: 1px solid #d73330;
}


/*----------------------------------------------
	.l_poster_info
---------------------------------------------*/
.l_poster_info02{
	position: absolute;
    bottom:260px;
    width: 550px;
    left: 0;
    right: 0;
    margin: auto;
}

.l_poster_info02 .info_box{
  padding: 15px;
   background-color:#FFFFFF;
  border: 1px solid #d73330;
}



/*----------------------------------------------
	.l_news_area
---------------------------------------------*/
.l_news_area {
	background: #FFFFFF;
	border: 1px solid #d80c18;
	border-top-width: 2px;
	overflow: hidden;
	margin: 0 15px 30px;
}

/*----------------------------------------------
  .l_news_header
	---------------------------------------------*/
.l_news_header {
	height: 40px;
	margin: 0px;
	font-size: 2rem;
	color: #d80c18;
	position: relative;
	border-top: 1px solid #d80c18;
	border-bottom: 1px solid #d80c18;
	background: #FFFFFF;
	padding-left: 20px;
  padding-top: 9px;
	font-weight: bold;
}

/*.l_news_header:before {
	content: "";
	width: 7px;
	height: 11px;
	background: url(../images/news_header_arrow.png) no-repeat;
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	left: 20px;
}*/


/*----------------------------------------------
  .l_content
---------------------------------------------*/
.l_content {
	background: #fff;
	padding: 30px;
	min-height:1440px;
}

/*----------------------------------------------
  .l_link_content
---------------------------------------------*/
.l_link_content p {
	border-bottom: 2px dotted #385173;
	padding: 20px 0px;
}
/*----------------------------------------------
  .l_footer_area
---------------------------------------------*/
.l_footer_area {
	position: relative;
	background: #231815;
	color: #FFFFFF;
}

/*----------------------------------------------
  .l_contact_area
---------------------------------------------*/
.l_contact_area {
	padding-bottom: 0px;
}
/*----------------------------------------------
  .l_contact_double
---------------------------------------------*/
.l_footer_area .l_contact_double {
	padding: 20px 0 0 18px;
}
.l_contact_double > div{
	display: inline-block;
}

.l_contact_double > div:first-child {
	width: 43%;
}
.l_contact_double > div:last-child {
	width: 43%;
}

/*----------------------------------------------
  .l_copyright
---------------------------------------------*/
.l_copyright {
	font-size: 1.3rem;
	color: #a5a3a2;
	border-top: 1px solid #a7a3a1;
	padding: 10px;
}

/*----------------------------------------------
  .l_pagetop
---------------------------------------------*/
.l_pagetop {
  position: absolute;
  right: 27px;
    bottom: 207px;
	z-index: 99;
}

.l_pagetop a{
	line-height: 0;
	display: block;
}

.l_pagetop img:hover {
	opacity: 0.9;
}

.l_pagetop.fixed {
	position: fixed;
	right: 27px;
	bottom: 10px!important;
}

/*----------------------------------------------
  .l_double
---------------------------------------------*/
.l_double {
  width: 47%;
  display: inline-block;
  margin: 0 2%;
}
.l_double:nth-child(1) { margin-left: 0; }
.l_double:nth-child(2) { margin-right: 0; }

/*----------------------------------------------
  .l_double02
---------------------------------------------*/
.l_double02 {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.l_double02:first-of-type {
  margin-right: 3%;
}

/*Firefox*/
@-moz-document url-prefix() {
	.l_pagetop {
		bottom: 21rem;
	}
}

/*IE 11*/
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
	.l_pagetop {
		bottom: 21rem;
	}
}

/*MS Edge*/
@supports (-ms-ime-align:auto) {
	.l_pagetop {
		bottom: 21rem;
	}
}

/*ここから下は触らない　Do not touch from here*/
/*----------------------------------------------
	.l_column_warp
---------------------------------------------*/
/*
コラムの使い方の説明
How to use column

コラムはサイト上の構成の大枠としては使用せず、コンテンツエリア内で使用してください。
Do not use the column as the frame but, use it inside the contents area.

HTMLは以下の形が基本形です。
The following will be the base for HTML.
----------------------------------------------
<div class="l_column_wrap">
	<div class="l_column has_column_pc00unit has_column_sp00unit">
		コンテンツが入る
	</div>
</div>
----------------------------------------------


00部分はコンテンツ幅を12分割した値が入ります。
In the "00" part will have the values 1 to 12.
The values are from dividing the content width into 12.

以下のclassをl_columnに追加する事で、コラムの分割数をPC/SPそれぞれに設定する事ができます。
By adding the following class into "l_column", you can set the column's number of partitions on the PC and SP.

下記はPCの場合の例です。
Example for PC
has_column_pc1unit : 12分割 12 partition
has_column_pc2unit : 6分割
has_column_pc3unit : 4分割
has_column_pc4unit : 3分割
has_column_pc5unit : 5/12分割
has_column_pc6unit : 2分割
has_column_pc7unit : 7/12分割
has_column_pc8unit : 2/3分割
has_column_pc9unit : 3/4分割
has_column_pc10unit : 5/6分割
has_column_pc11unit : 11/12分割
has_column_pc12unit : 1分割

以下のclassをl_columnに追加する事で、コラムの左右余白を設定する事ができます。
By adding the following class into "l_column", you can set the padding.

has_column_padding10 : 左右5px
has_column_padding20 : 左右10px
has_column_padding30 : 左右15px
has_column_padding40 : 左右20px
has_column_padding50 : 左右25px

以下のclassをl_column_wrapに追加する事で、両端の余白を調整する事ができます。
By adding the following class into "l_column_wrap", you can adjust the padding.

has_column_wrap_fill10 : 左右5pxづつ埋める
has_column_wrap_fill20 : 左右10pxづつ埋める
has_column_wrap_fill30 : 左右15pxづつ埋める
has_column_wrap_fill40 : 左右20pxづつ埋める
has_column_wrap_fill50 : 左右25pxづつ埋める
*/

/* .l_column unit */
.l_column {
	box-sizing: border-box; /* border-widthとpaddingをwidthに含める　Include border-width and padding into width. */
	float: left;
}
.l_column.has_column_pc1unit { width: 8.33%; }
.l_column.has_column_pc2unit { width: 16.66%; }
.l_column.has_column_pc3unit { width: 25%; }
.l_column.has_column_pc4unit { width: 33.32%; }
.l_column.has_column_pc5unit { width: 41.65%; }
.l_column.has_column_pc6unit { width: 50%; }
.l_column.has_column_pc7unit { width: 58.33%; }
.l_column.has_column_pc8unit { width: 66.66%; }
.l_column.has_column_pc9unit { width: 74.99%; }
.l_column.has_column_pc10unit { width: 83.32%; }
.l_column.has_column_pc11unit { width: 91.65%; }
.l_column.has_column_pc12unit { width: 100%; }

@media screen and (max-width: 640px) {
	.l_column.has_column_sp1unit { width: 8.33%; }
	.l_column.has_column_sp2unit { width: 16.66%; }
	.l_column.has_column_sp3unit { width: 25%; }
	.l_column.has_column_sp4unit { width: 33.32%; }
	.l_column.has_column_sp5unit { width: 41.65%; }
	.l_column.has_column_sp6unit { width: 50%; }
	.l_column.has_column_sp7unit { width: 58.33%; }
	.l_column.has_column_sp8unit { width: 66.66%; }
	.l_column.has_column_sp9unit { width: 74.99%; }
	.l_column.has_column_sp10unit { width: 83.32%; }
	.l_column.has_column_sp11unit { width: 91.65%; }
	.l_column.has_column_sp12unit { width: 100%; }
}

/* column padding */
.l_column.has_column_padding10 { padding: 0 5px; }
.l_column.has_column_padding20 { padding: 0 10px; }
.l_column.has_column_padding30 { padding: 0 15px; }
.l_column.has_column_padding40 { padding: 0 20px; }
.l_column.has_column_padding50 { padding: 0 25px; }

/* column fill */
.l_column_wrap.has_column_wrap_fill10 { margin: 0 -5px; }
.l_column_wrap.has_column_wrap_fill20 { margin: 0 -10px; }
.l_column_wrap.has_column_wrap_fill30 { margin: 0 -15px; }
.l_column_wrap.has_column_wrap_fill40 { margin: 0 -20px; }
.l_column_wrap.has_column_wrap_fill50 { margin: 0 -25px; }
